language: node_js
node_js:
- '10'

branches:
  only:
  - master
  - production
  - /^greenkeeper/.*$/

cache:
  directories:
  - node_modules

script:
  - bash <(curl -s https://codecov.io/bash) -f coverage/coverage-final.json

before_deploy: yarn add now --no-save

deploy:
  - provider: script # Run a custom deployment script which we will define below
    script: sh deploy/now.sh
    skip_cleanup: true
    on:
      branch: production